.btn-orange {
    background-color: #E94B3C;
    color: white;
}

.btn-orange:hover {
    background-color: white;
    color: black;
    border: black solid 1px;
    color: black;
}

.btn-light:hover {
    background-color: #E94B3C;
    color: white;
}

.w-80 {
    width: 80%;
}

.offwhite {
    background-color: #F5EFE6;
}

.chart-container {
  max-width: 400px;   /* control width */
  max-height: 200px;  /* control height */
}

img {
    max-width: 120px;
    max-height: 120px;
}