.btn-orange {
    background-color: #E94B3C;
    color: white;
}

.btn-orange:hover {
    background-color: white;
    color: black;
    border: black solid 1px;
}

.btn-orange.dropdown-toggle.show,
.btn-orange.dropdown-toggle:focus {
    background-color: white;
    color: black;
}


.btn-light:hover {
    background-color: #E94B3C;
    color: white;
}

.btn-light.dropdown-toggle.show,
.btn-light.dropdown-toggle:focus {
    background-color: #E94B3C;
    color: white;
}


.w-80 {
    width: 80%;
}

.offwhite {
    background-color: #F5EFE6;
}

.chart-container {
  max-width: 400px;   /* control width */
  max-height: 200px;  /* control height */
}

.Welcomeimg {
    max-width: 20%;
}

.stall-card {
    max-height: 35vh;
}

